<!DOCTYPE html>
<html>
<head>
  <!-- <title>BlogJump</title> -->
  <%= metamagic title: "Jump2Bog", description: "My default description", keywords: %w(Rails ruby Ruby on Rails) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
