<!DOCTYPE >
<html>
<head>
  <%= metamagic title: "Page creation", description: "My default description", keywords: %w(Rails ruby Ruby on Rails) %>
  <%= stylesheet_link_tag    'pages', media: 'all' %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="masthead">
		<h3 class="muted">Rails Blog</h3>
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<%= nav_link 'Home', root_path%>
					<%= nav_link 'About', about_path%>
					<%= nav_link 'Portfolio', portfolio_path%>
					<%= nav_link 'Blog', posts_path%>
				</ul>
			</div>
		</div>
	</div>
	<%= yield %>
	<hr />
	<div class="footer">
		<p>&copy; BEE Rails Demo !!!</p>
	</div>
</div> 
</body>
</html>
