<!DOCTYPE >
<html>
<head>
  <%= metamagic title: "Post Bolg", description: "My default description", keywords: %w(Rails ruby Ruby on Rails) %>
  <%= stylesheet_link_tag    'posts', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="masthead">
		<h3 class="muted">Rails Blog</h3>
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<%= nav_link 'Home', root_path%>
					<%= nav_link 'About', about_path%>
					<%= nav_link 'Blog', posts_path,true %>
				</ul>
			</div>
		</div>
	</div>
	<%= yield %>
	<hr />
	<div class="footer">
		<p>&copy;  BEE Rails Demo !!!</p>
	</div>
</div> 
</body>
</html>
